@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	body {
		@apply bg-tertiary;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
}

.bg-main{
	background-image: url(/src/assets/main-bg.svg);
	background-repeat: no-repeat;
	background-position: top;
  }

  .bg-sub{
	background-image: url(/src/assets/bg-sub.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;	
}

/* width */
::-webkit-scrollbar {
	width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555;
  }